<section class="advantages">
    <div class="container">
        <ul class="advantages">
            <li class="advantages__list">
                <svg class="about-list__icon" width="36" height="36">
                    <use href="./images/sprite.svg#icon-cow"></use>
                </svg>
                <p class="advantages__amount">
                    721
                </p>
                <p class="advantages__text">
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>
            </li>
            <li class="advantages__list">
                <svg class="about-list__icon" width="36" height="36">
                    <use href="./images/sprite.svg#icon-weight"></use>
                </svg>
                <p class="advantages__amount">
                    16kg
                </p>
                <p class="advantages__text">
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>
            </li>
            <li class="advantages__list">
                <svg class="about-list__icon" width="36" height="36">
                    <use href="./images/sprite.svg#icon-ice-crema"></use>
                </svg>
                <p class="advantages__amount">
                    84
                </p>
                <p class="advantages__text">
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>
            </li>
        </ul>
    </div>
</section>