<section class="advantages">
    <div class="container">
        <h2 class="section__title visually-hidden">Advantages</h2>
        <ul class="advantages__list list">
            <li class="advantages__item">
                <img  class="advantages__img" src="./images/advantages/cow.png" alt="cow">
                <p class="advantages__amount">
                    721
                </p>
                <p class="advantages__text">
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>
            </li>
            <li class="advantages__item">
                <img class="advantages__img" src="./images/advantages/weight.png" alt="weight" >
                <p class="advantages__amount">
                    16kg
                </p>
                <p class="advantages__text">
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>
            </li>
            <li class="advantages__item">
                <img class="advantages__img" src="./images/advantages/ice-crema.png" alt="ice-cream">
                <p class="advantages__amount">
                    84
                </p>
                <p class="advantages__text">
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>
            </li>
        </ul>
    </div>
</section>