<section id="contacts" class="contacts">
    <div class="container">
    <h2 class="section__title visually-hidden">CONTACTS</h2>
    <ul class="our-location">
        <li class="location__item">
            <span class="location__place">CAFE</span>
            <div class="location-top">
                <p class="location-city">Chicago</p>
                <p class="location-adress">10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</p>
            </div>
            <ul class="location-schedule">
                <li>Monday - Friday</li>
                <li>06:00 AM - 10:00 PM</li>
                <li>Saturday - Sunday</li>
                <li>08:00 AM - 16:00 PM</li>
            </ul>
            <div>
                <a href="tel:+610383766284">+61(0) 383 766 284</a>
                <a href="mailto:noreply@envato.com">noreply@envato.com</a>
            </div>
        </li>
        <li class="location__item">
            <span class="location__place">FOOD TRUCK</span>
            <div class="location-top">
                <p class="location-city">Los Angeles</p>
                <p class="location-adress">1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</p>
            </div>
            <ul class="location-schedule">
                <li>Monday - Friday</li>
                <li>06:00 AM - 10:00 PM</li>
                <li>Saturday - Sunday</li>
                <li>08:00 AM - 16:00 PM</li>
            </ul>
            <div>
                <a href="tel:+610383766284">+61(0) 383 766 284</a>
                <a href="mailto:noreply@envato.com">noreply@envato.com</a>
            </div>
        </li>
        <li class="location__item">
            <span class="location__place">CAFE</span>
            <div class="location-top">
                <p class="location-city">New York</p>
                <p class="location-adress">726 Sterling Pl, Brooklyn, NY 11222, USA</p>
            </div>
            <ul class="location-schedule">
                <li>Monday - Friday</li>
                <li>06:00 AM - 10:00 PM</li>
                <li>Saturday - Sunday</li>
                <li>08:00 AM - 16:00 PM</li>
            </ul>
            <div>
                <a href="tel:+610383766284">+61(0) 383 766 284</a>
                <a href="mailto:noreply@envato.com">noreply@envato.com</a>
            </div>
        </li>
    </ul>
    <button >Our Locations
        <svg>
            <use></use>
        </svg>
    </button>
    <button>Franchise
         <svg>
            <use></use>
        </svg>
    </button>
    </div>
</section>