<section class="contacts">
    <div class="container">
    <h2 class="section__title visually-hidden" id="contacts">contacts</h2>
    <ul class="locations-our list">
        <li class="location__item"
        data-aos="flip-left"
        data-aos-delay="400"
        data-aos-duration="1000">
        <span class="location__place local__text">CAFE</span>
        <div class="location-top">
            <h3 class="location-city local__text">Chicago</h3>
            <a class="location-address local__text address--Chicago" href="https://goo.gl/maps/NzjVngGFKGJuh6jx8" target="_blank"> 10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a>
        </div>
        <ul class="location-schedule list">
            <li class="contacts__opening-hours_item">
            <p class="local__text text--black">Monday - Friday</p>
            <p class="local__text text--grey">06:00 AM - 10:00 PM</p>
            </li>
            <li>
            <p class="local__text text--black">Saturday - Sunday</p>
            <p class="local__text text--grey">08:00 AM - 16:00 PM</p>
            </li>
        </ul>
            <ul class="location-contacts list">
                <li><a class="text--black link-accent tel" href="tel:+610383766284">+61(0) 383 766 284</a></li>
                <li><a class="text--black link-accent com" href=" mailto:noreply@envato.com ">noreply@envato.com</a></li>
            </ul>
        </li>
        <li class="location__item contacts__list"
        data-aos="flip-right"
        data-aos-delay="500"
        data-aos-duration="1000">
        <span class="location__place local__text">FOOD TRUCK</span>
        <div class="location-top">
            <h3 class="location-city local__text ">Los Angeles</h3>
            <a class="location-address local__text address--Los-Angeles" href="https://goo.gl/maps/9VMR8gFhawKpjaDf8" target="_blank">1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a>
        </div>
        <ul class="location-schedule list">
        <li class="contacts__opening-hours_item">
            <p class="local__text text--black">Monday - Friday</p>
            <p class="local__text text--grey">06:00 AM - 10:00 PM</p>
        </li>
        <li>
            <p class="local__text text--black">Saturday - Sunday</p>
            <p class="local__text text--grey">08:00 AM - 16:00 PM</p>
            </li>
        </ul>
            <ul class="location-contacts list">
                <li><a class="text--black link-accent tel" href="tel:+610383766284">+61(0) 383 766 284</a></li>
                <li><a class="text--black link-accent com" href="mailto:noreply@envato.com">noreply@envato.com</a></li>
            </ul>
        </li>
        <li class="location__item contacts__list"
        data-aos="flip-left"
        data-aos-delay="600"
        data-aos-duration="1000">
        <span class="location__place local__text">CAFE</span>
        <div class="location-top">
            <h3 class="location-city local__text">New York</h3>
            <a class="location-address local__text address--New-York" href="https://goo.gl/maps/Nw3PozwL3XJPpUVd7" target="_blank">726 Sterling Pl, Brooklyn, NY 11222, USA</a>
        </div>
        <ul class="location-schedule list">
            <li class="contacts__opening-hours_item">
                <p class="local__text text--black">Monday - Friday</p>
                <p class="local__text text--grey">06:00 AM - 10:00 PM</p>
            </li>
            <li>
                <p class="local__text text--black">Saturday - Sunday</p>
                <p class="local__text text--grey">08:00 AM - 16:00 PM</p>

                </li>
        </ul>
            <ul class="location-contacts list">
                <li><a class="text--black link-accent tel" href="tel:+610383766284">+61(0) 383 766 284</a></li>
                <li><a class="text--black link-accent com" href="mailto:noreply@envato.com">noreply@envato.com</a></li>
            </ul>
        </li>
    </ul>
     <div class="local-button" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
    <button class="button button--accent btn-animate" type="button" data-locations-open>Our Locations
        <svg class="button-icon" width="12" height="12">
            <use  href="/src/images/sprite.svg#icon-more"></use>
        </svg>
    </button>
    <button class="button button--transparent btn-animate" type="button" data-franchise-open>Franchise
         <svg class="button-icon" width="12" height="12">
            <use href="/src/images/sprite.svg#icon-more"></use>
        </svg>
    </button>
    </div>
    </div>
</section>




