<section id="contacts" class="contacts section">
    <div class="container">
    <h2 class="section__title visually-hidden">CONTACTS</h2>
    <ul class="locations">
        <li class="location__item">
            <span class="location__place local__text">CAFE</span>
            <div class="location-top">
                <p class="location-city local__text">Chicago</p>
                <p class="location-address local__text">10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</p>
            </div>
            <ul class="location-schedule">
                <li class="local__text text--black">Monday - Friday</li>
                <li class="local__text text--grey">06:00 AM - 10:00 PM</li>
                <li class="local__text text--black">Saturday - Sunday</li>
                <li class="local__text text--grey">08:00 AM - 16:00 PM</li>
            </ul>
            <div class="location-contacts">
                <a class="text--black" href="tel:+610383766284">+61(0) 383 766 284</a>
                <a class="text--black" href="mailto:noreply@envato.com">noreply@envato.com</a>
            </div>
        </li>
        <li class="location__item">
            <span class="location__place local__text">FOOD TRUCK</span>
            <div class="location-top">
                <p class="location-city local__text">Los Angeles</p>
                <p class="location-address local__text">1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</p>
            </div>
            <ul class="location-schedule">
                <li class="local__text text--black">Monday - Friday</li>
                <li class="local__text text--grey">06:00 AM - 10:00 PM</li>
                <li class="local__text text--black">Saturday - Sunday</li>
                <li class="local__text text--grey">08:00 AM - 16:00 PM</li>
            </ul>
            <div class="location-contacts">
                <a class="text--black" href="tel:+610383766284">+61(0) 383 766 284</a>
                <a class="text--black" href="mailto:noreply@envato.com">noreply@envato.com</a>
            </div>
        </li>
        <li class="location__item">
            <span class="location__place local__text">CAFE</span>
            <div class="location-top">
                <p class="location-city local__text">New York</p>
                <p class="location-address local__text">726 Sterling Pl, Brooklyn, NY 11222, USA</p>
            </div>
            <ul class="location-schedule">
                <li class="local__text text--black">Monday - Friday</li>
                <li class="local__text text--grey">06:00 AM - 10:00 PM</li>
                <li class="local__text text--black">Saturday - Sunday</li>
                <li class="local__text text--grey">08:00 AM - 16:00 PM</li>
            </ul>
            <div class="location-contacts">
                <a class="text--black" href="tel:+610383766284">+61(0) 383 766 284</a>
                <a class="text--black" href="mailto:noreply@envato.com">noreply@envato.com</a>
            </div>
        </li>
    </ul>
     <div class="local-button">
    <button class="button button--accent">Our Locations
        <svg class="button-icon" width="12" height="12">
            <use href="/src/images/sprite.svg#icon-more"></use>
        </svg>
    </button>
    <button class="button button--transparent">Franchise
         <svg class="button-icon" width="12" height="12">
            <use href="/src/images/sprite.svg#icon-more"></use>
        </svg>
    </button>
    </div>
    </div>
</section>
