<section class="countdown">
    <div class="container">
        <h2 class="countdown__header visually-hidden">discount countdown</h2>
        <p class="countdown__subheadline">big sale</p>
        <p class="countdown__title">
            There is a <span class="countdown__title--accent">20%</span> discount on our services till December 1st,
            2022.
        </p>
    
        <p class="countdown__subheadline">time left</p>
        <div class="countdown__counter--wrapper">
            <div class="countdown__item">
                <p class="days countdown__headline">00</p>
                <p class="countdown__subheadline--counter">days</p>
            </div>
            <div class="countdown__item">
                <p class="hours countdown__headline">00</p>
                <p class="countdown__subheadline--counter">hours</p>
            </div>
            <div class="countdown__item">
                <p class="minutes countdown__headline">00</p>
                <p class="countdown__subheadline--counter">minutes</p>
            </div>
            <div class="countdown__item">
                <p class="seconds countdown__headline">00</p>
                <p class="countdown__subheadline--counter">seconds</p>
            </div>
        </div>
    </div>
</section>