<footer class="footer">
    <div class="container info">
        <div class="footer__text">
            <p class="footer__text-main">homemade ice cream made</p>
            <p class="footer__text-accent">with passion</p>
        </div>
        <div class="footer__socials">
            <ul class="join list">
                <li class="join__item">
                <a href="" class="link join__link">
                    <svg class="join__icon-social" width="19" height="15">
                    <use
                        href="./images/sprite.svg#icon-github"
                    ></use>
                    </svg>
                </a>
                </li>
                <li class="join__item">
                <a href="" class="link join__link">
                    <svg class="join__icon-social" width="19" height="15">
                    <use
                        href="./images/sprite.svg#icon-telegram"
                    ></use>
                    </svg>
                </a>
                </li>
                <li class="join__item">
                <a href="" class="link join__link">
                    <svg class="join__icon-social" width="19" height="15">
                    <use
                        href="./images/sprite.svg#icon-facebook"
                    ></use>
                    </svg>
                </a>
                </li>
            </ul>
        </div>
        <div class="footer__contact">
            <p class="footer_tel">Feel free to contact
                <a href="tel:+61(0)383766284" class="footer-tel__number">+61 (0) 383 766 284</a>
            </p>
        </div>
    </div>
    <div class="footer__copyright">
        <div class="container">
            <p>© 2022 - IceCream.</p>
            <p>All Rights Reserved.</p>
        </div>
    </div>
</footer>