<div class="container info">
  <div class="footer__text">
    <p class="footer__text-main">homemade ice cream made</p>
    <p class="footer__text-accent">with passion</p>
  </div>
  <div class="footer__contacts">
    <div class="socials">
      <ul class="join list">
        <li class="join__item">
          <a href="https://github.com/" target="blank" class="link join__link">
            <svg class="join__icon-social">
              <use href="./images/sprite.svg#icon-github"></use>
            </svg>
          </a>
        </li>
        <li class="join__item">
          <a href="https://web.telegram.org/" target="blank" class="link join__link">
            <svg class="join__icon-social">
              <use href="./images/sprite.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
        <li class="join__item">
          <a href="https://m.facebook.com/" target="blank" class="link join__link">
            <svg class="join__icon-social">
              <use href="./images/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="tel">
      <p class="tel__text">
        Feel free to contact
        <a href="tel:+61(0)383766284" class="tel__number"
          >+61 (0) 383 766 284</a
        >
      </p>
    </div>
  </div>
</div>

<div class="footer__copyright">
  <p class="copyright-text">© 2022 - IceCream.</p>
  <p class="copyright-text">All Rights Reserved.</p>
</div>
