<section class="gallery">
  <div class="container gallery__container">
    <h2 class="visually-hidden">GALLERY</h2>
    <ul class="gallery__slider list">
      <li class="gallery__slide">
        <picture class="gallery__picture">
          <!-- Desktop -->
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/pic1_l@1x.jpg 1x,
              ./images/gallery/pic1_l@2x.jpg 2x
            "
          >
          <!-- Tablet -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/pic1_m@1x.jpg 1x,
              ./images/gallery/pic1_m@2x.jpg 2x
            "
          >
          <!-- Mobile -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/gallery/pic1_s@1x.jpg 1x,
              ./images/gallery/pic1_s@2x.jpg 2x
            "
          >
          <img
            class="img"
            src="./images/gallery/pic1_l@1x.jpg"
            alt="many different ice-creams"
          >
        </picture>
      </li>
      <!-- </div> -->
      <!-- <li class="gallery__slide"r"> -->
      <li class="gallery__slide">
        <div class="gallery__slide-mini">
          <picture class="gallery__picture gallery__picture--firs">
            <!-- Desktop -->
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/gallery/pic2_l@1x.jpg 1x,
                ./images/gallery/pic2_l@2x.jpg 2x
              "
            >
            <!-- Tablet -->
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/gallery/pic2_m@1x.jpg 1x,
                ./images/gallery/pic2_m@2x.jpg 2x
              "
            >
            <!-- Mobile -->
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/gallery/pic2_s@1x.jpg 1x,
                ./images/gallery/pic2_s@2x.jpg 2x
              "
            >
            <img
              class="img"
              src="./images/gallery/pic2_l@1x.jpg"
              alt="different ice-cream cones"
            >
          </picture>
          <picture class="gallery__picture gallery__picture--second">
            <!-- Desktop -->
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/gallery/pic3_l@1x.jpg 1x,
                ./images/gallery/pic3_l@2x.jpg 2x
              "
            >
            <!-- Tablet -->
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/gallery/pic3_m@1x.jpg 1x,
                ./images/gallery/pic3_m@2x.jpg 2x
              "
            >
            <!-- Mobile -->
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/gallery/pic3_s@1x.jpg 1x,
                ./images/gallery/pic3_s@2x.jpg 2x
              "
            >
            <img
              class="img"
              src="./images/gallery/pic3_l@1x.jpg"
              alt="ice-cream cones with strawberries"
            >
          </picture>
        </div>
      </li>

      <!-- <li class="gallery__slide"r"> -->
      <li class="gallery__slide">
        <picture class="gallery__picture">
          <!-- Desktop -->
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/pic4_l@1x.jpg 1x,
              ./images/gallery/pic4_l@2x.jpg 2x
            "
          >
          <!-- Tablet -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/pic4_m@1x.jpg 1x,
              ./images/gallery/pic4_m@2x.jpg 2x
            "
          >
          <!-- Mobile -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/gallery/pic4_s@1x.jpg 1x,
              ./images/gallery/pic4_s@2x.jpg 2x
            "
          >
          <img
            class="img"
            src="./images/gallery/pic4_l@1x.jpg"
            alt="large boxes with fruit ice-creams"
          >
        </picture>
      </li>
      <!-- </div> -->
      <!-- <li class="gallery__slide"r"> -->
      <li class="gallery__slide">
        <div class="gallery__slide-mini">
          <picture class="gallery__picture gallery__picture--firs">
            <!-- Desktop -->
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/gallery/pic5_l@1x.jpg 1x,
                ./images/gallery/pic5_l@2x.jpg 2x
              "
            >
            <!-- Tablet -->
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/gallery/pic5_m@1x.jpg 1x,
                ./images/gallery/pic5_m@2x.jpg 2x
              "
            >
            <!-- Mobile -->
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/gallery/pic5_s@1x.jpg 1x,
                ./images/gallery/pic5_s@2x.jpg 2x
              "
            >
            <img
              class="img"
              src="./images/gallery/pic5_l@1x.jpg"
              alt="chocolate ice-cream cone"
            >
          </picture>
          <picture class="gallery__picture gallery__picture--second">
            <!-- Desktop -->
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/gallery/pic6_l@1x.jpg 1x,
                ./images/gallery/pic6_l@2x.jpg 2x
              "
            >
            <!-- Tablet -->
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/gallery/pic6_m@1x.jpg 1x,
                ./images/gallery/pic6_m@2x.jpg 2x
              "
            >
            <!-- Mobile -->
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/gallery/pic6_s@1x.jpg 1x,
                ./images/gallery/pic6_s@2x.jpg 2x
              "
            >
            <img
              class="img"
              src="./images/gallery/pic6_l@1x.jpg"
              alt="ice cream balls in the glass"
            >
          </picture>
        </div>
      </li>
      <!-- </div> -->
      <!-- <li class="gallery__slide"r"> -->
    </ul>
  </div>
</section>
