<header class="header">
  <div class="header-container">
    <a class="logo" href="./index.html">
      <img class="logo-img" src="./images/hero/logo.png" alt="" width="40px" height="37px"/>
    </a>
    <button class="btn-mobile-menu js-mobile-menu-open"  type="button" 
    aria-expanded="false" 
    aria-controls="mobile-menu">
        <svg width="32" height="32">
            <use href="./images/sprite.svg#icon-Burger"></use>
        </svg>
    </button>
    <button class="btm-nav button" data-buy-open type="button">Buy now
      <svg class="icon-btn-mobile-menu" width="12" height="12">
        <use href="./images/sprite.svg#icon-more"></use>
      </svg>
  </div>

  
</header>
