<div class="header-wrapper">
<div class="header-container">
    <a class="logo-icon" href="./index.html">
      <svg width="" height="">
      <use href="./images/sprite.svg#icon-logo"></use>
      </svg> 
    </a>
    <ul class="header-nav list">
      <li class="header-nav__item">
        <a class="header-nav__link link" href="./index.html">
          Home
        </a></li>
      <li class="header-nav__item">
        <a class="header-nav__link link" href="#about">
          How it’s made?
        </a></li>
      <li class="header-nav__item">
        <a class="header-nav__link link" href="#products">
          Our products
        </a></li>
      <li class="header-nav__item">
        <a class="header-nav__link link" href="#contacts">
          Contact
        </a></li>
    </ul>
    <button class="btn-mobile-menu js-mobile-menu-open"  type="button" 
    aria-expanded="false" 
    aria-controls="mobile-menu">
        <svg width="20" height="12"><!--initially was w32 h32-->
            <use href="./images/sprite.svg#icon-Burger"></use>
        </svg>
    </button>
    <button class="btn-header-nav  button" data-buy-open type="button">Buy now
      <svg class="icon-btn-mobile-menu" width="12" height="12">
        <use href="./images/sprite.svg#icon-more"></use>
      </svg>
  </div>
  </div>
  <!--Scroll-Up-->
  <a class="btn-go-top" href="#">
    <svg width="40" height="40">
      <use href="./images/sprite.svg#icon-go-top">
      </use>
    </svg>
  </a>
