<section class="hero">
  <div class="container">
    <h1 class="title">ice cream made with passion</h1>
    <button class="button" type="button">Products</button>
    <a class="link" href="">How it’s made?</a>

    <div class="ice-cream">
      <ul class="ice-cream__list list">
        <li class="ice-cream__item">
          <img
            class="ice-cream-img img"
            srcset="
              ./images/hero/ice_cream/sm/icea_cream_sm@1x.png,
              ./images/hero/ice_cream/sm/icea_cream_sm@2x.png 2x"
            src="./images/hero/ice_cream/sm/icea_cream_sm@1x.png"
            alt="Крапки"
            width="170px"
            height="50px"
          />
        </li>
        <li class="ice-cream__item--smile-left">
          <img
            class="smile-left img"
            srcset="
              ./images/hero/smile/smile-left/ms/smile-left_ms@1x.png,
              ./images/hero/smile/smile-left/ms/smile-left_ms@2x.png 2x
            "
            src="./images/hero/smile/smile-left/ms/smile-left_ms@1x.png"
            alt="Посмішка"
            width="52px"
            height="42px"
          />
        </li>
        <li class="ice-cream__item--smile-top">
          <img
            class="smile-top img"
            srcset="
              ./images/hero/smile/smile-top/ms/smile-top_ms@1x.png,
              ./images/hero/smile/smile-top/ms/smile-top_ms@2x.png 2x
            "
            src="./images/hero/smile/smile-top/ms/smile-top_ms@1x.png"
            alt="Посмішка"
            width="64px"
            height="50px"
          />
        </li>
        <li class="ice-cream__item--smile-right">
          <img
            class="smile-right img"
            srcset="
              ./images/hero/smile/smile-right/ms/smile-right_ms@1x.png,
              ./images/hero/smile/smile-right/ms/smile-right_ms@2x.png 2x
            "
            src="./images/hero/smile/smile-right/ms/smile-right_ms@1x.png"
            alt="Посмішка"
            width="65px"
            height="51px"
          />
        </li>
        <li class="ice-cream__item--points">
          <img
            class="points img"
            srcset="
              ./images/hero/points-bg/sm/points-bg_sm@1x.png,
              ./images/hero/points-bg/sm/points-bg_sm@2x.png 2x
            "
            src="./images/hero/points-bg/sm/points-bg_sm@1x.png"
            alt="Крапки"
          />
        </li>
      </ul>
    </div>
  </div>
</section>
