<!-- Hero -->

<!-- <main> -->
<section class="hero-section">
  <div class="hero-container">
    <h1 class="hero-title">ice cream made with <span class="accent-title">passion</span></h1>
    <div class="group-container">
    <a class="hero-btn" href="#products">Products</a>
    <a class="hero-link link" href="#about">How it’s made?</a>
    </div>
    <div class="hero-group">
        <picture>
          <!-- Desktop -->
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/hero/plate/lg/plate_lg@225.png 1x,
              ./images/hero/plate/lg/plate_lg@450.png 2x
            "
          >
          <!-- Tablet -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/hero/plate/md/plate_md@152.png 1x,
              ./images/hero/plate/md/plate_md@304.png 2x
            "
          >
          <img
            class="hero-img-plate"
            src="./images/hero/plate/lg/plate_lg@225.png"
        alt="plate">
        </picture>
        <div class="hero-desc-box">
        <p class="hero-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        </p>
        <a class="link" href="#"><svg class="hero-icon" width="40" height="15">
          <use href="./images/sprite.svg#icon-arrow"></use>
        </svg></a>
        
      </div>
      <ul class="hero__chain-list">
        <li class="hero__chain-item">
          <span class="hero__chain-counter increasing-number">16</span> cafes
        </li>
        <li class="hero__chain-item">
          <span class="hero__chain-counter increasing-number">23</span> food
          trucks
        </li>
      </ul>
      </div>
        <picture>
          <!-- Desktop -->
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/hero/ice_cream/lg/ice-cream_lg@485.png 1x,
              ./images/hero/ice_cream/lg/ice-cream_lg@970.png 2x
            "
          >
          <!-- Tablet -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/hero/ice_cream/md/ice-cream_md@270.png 1x,
              ./images/hero/ice_cream/md/ice-cream_md@540.png 2x
            "
          >
          <!-- Mobile -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/hero/ice_cream/sm/ice-cream_sm@170.png 1x,
              ./images/hero/ice_cream/sm/ice-cream_sm@340.png 2x
            "
          >
          <img
            class="hero-img"
            src="./images/hero/ice_cream/lg/ice-cream_lg@485.png"
            alt="ice cream"
          >
        </picture>
        <picture>
          <!-- Desktop -->
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/hero/points-bg/lg/points_lg@1200.png 1x,
              ./images/hero/points-bg/lg/points_lg@2400.png 2x
            "
          >
          <!-- Tablet -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/hero/points-bg/md/points_md@767.png 1x,
              ./images/hero/points-bg/md/points_md@1534.png 2x
            "
          >
          <!-- Mobile -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/hero/points-bg/sm/points_sm@328.png 1x,
              ./images/hero/points-bg/sm/points_sm@656.png 2x
            "
          >
          <img
            class="hero-img-points"
            src="./images/hero/points-bg/lg/points_lg@1200.png"
        alt="Крапки">
        </picture>
  </div>
</section>
