<!-- Hero -->

<!-- <main> -->
<section class="hero">
  <div class="hero-container">
    <h1 class="title">ice cream made with passion</h1>
    <div class="group-container">
    <button class="hero-btn" type="button">Products</button>
    <a class="hero-link link" href="">How it’s made?</a>
    </div>

    <div class="ice-cream-container">
      <ul class="ice-cream__list list">
        <li class="ice-cream__item">
          <img
            class="ice-cream-img"
            srcset="./images/hero/ice_cream/sm/icea_cream_sm@1x.png, ./images/hero/ice_cream/sm/icea_cream_sm@2x.png 2x"
            src="./images/hero/ice_cream/sm/icea_cream_sm@1x.png"
            alt="Крапки"
                        
          />
        </li>
        <li class="ice-cream__item img">
          <img
            class="smile-left"
            srcset="./images/hero/smile/smile-left/ms/smile-left_ms@1x.png, ./images/hero/smile/smile-left/ms/smile-left_ms@2x.png 2x"
            src="./images/hero/smile/smile-left/ms/smile-left_ms@1x.png"
            alt="Посмішка"
            
            
          />
        </li>
        <li class="ice-cream__item">
          <img
            class="smile-top"
            srcset="./images/hero/smile/smile-top/ms/smile-top_ms@1x.png, ./images/hero/smile/smile-top/ms/smile-top_ms@2x.png 2x"
            src="./images/hero/smile/smile-top/ms/smile-top_ms@1x.png"
            alt="Посмішка"
          />
        </li>
        <li class="ice-cream__item">
          <img
            class="smile-right"
            srcset="./images/hero/smile/smile-right/ms/smile-right_ms@1x.png, ./images/hero/smile/smile-right/ms/smile-right_ms@2x.png 2x"
            src="./images/hero/smile/smile-right/ms/smile-right_ms@1x.png"
            alt="Посмішка"
          />
        </li>
        <li class="ice-cream__item">
          <img
            class="shadow"
            srcset="./images/hero/shadow/sm/shadow@1x.png, ./images/hero/shadow/sm/shadow@2x.png"
            src="./images/hero/shadow/sm/shadow@1x.png"
            alt="Тінь"
          />
        </li>
      </ul>
    </div>
  </div>
</section>
