<div class="menu-container js-mobile-menu-container" id="mobile-menu">
    <a class="logo" href="./index.html">
        <img src="./images/hero/logo.png" alt="">
    </a>
    <button class="menu-toggle js-mobile-menu-close">
    <svg class="menu-icon-close" width="32" height="32">
    <use href="./images/sprite.svg#icon-close"></use>
    </svg> 
    </button>
    <ul class="menu-nav__list list">
        <li class="menu-nav__item">
            <a href="./index.html" class="menu-nav__link current link">Home</a>
        </li>
        <li class="menu-nav__item">
            <a href="" class="menu-nav__link link">How it’s made?</a>
        </li>
        <li class="menu-nav__item">
            <a href="" class="menu-nav__link link">Our products</a>
        </li>
        <li class="menu-nav__item">
            <a href="" class="menu-nav__link link">Contact</a>
        </li>
    </ul>
    <button class="btm-mobile-menu button" type="button">Buy now</button>
</div>