<div class="mobile-menu-container js-mobile-menu-container js-mobile-menu-close"  id="mobile-menu">
    <div class="nav-mobile-menu">
    <a class="logo-icon" href="./index.html">
        <svg width="" height="">
        <use href="./images/sprite.svg#icon-logo"></use>
        </svg> 
    </a>
    <button class="menu-toggle">
    <svg class="menu-icon-close" width="32" height="32">
    <use href="./images/sprite.svg#icon-close"></use>
    </svg> 
    </button>
    </div>
    <ul class="menu-nav__list list">
        <li class="menu-mobile-nav__item" >
            <a href="./index.html" class="menu-nav__link current link" >Home</a>
        </li>
        <li class="menu-mobile-nav__item">
            <a href="#about" class=" menu-nav__link link">How it’s made?</a>
        </li>
        <li class="menu-mobile-nav__item">
            <a href="#products" class=" menu-nav__link link ">Our products</a>
        </li>
        <li class="menu-mobile-nav__item">
            <a href="#contacts" class=" menu-nav__link link">Contact</a>
        </li>
    </ul>   
    <button class="btm-mobile-menu button" data-buy-open-mobile type="button">Buy now</button>
    <!-- <button class="btm-mobile-menu button modal-open" data-buy-open type="button">Buy now
        <svg class="icon-btn-mobile-menu" width="12" height="12">
        <use href="./images/sprite.svg#icon-more"></use>
        </svg> 
    </button> -->
</div>
