<div class="backdrop is-hidden" data-ingrediens>
  <div class="ingrediens modal-open">
    <button class="modal__close" type="button" data-ingrediens-close>
      <svg width="16" height="16" class="modal__icon--close">
        <use
          href="./images/sprite.svg#icon-close"
        ></use>
      </svg>
    </button>
    <h2 class="title--modal ingrediens__title">Chololate icecream</h2>
    <div class="ingrediens__elipse">
      <img
        class="ingrediens__img"
        srcset="./images/ingridiens/sm-@1x.png 130w,
             ./images/ingridiens/sm-@2x.png 260w"
        sizes="(min-width: 320px) 130px"
        src="./images/ingridiens/sm-@1x.png"
        alt="icecream">
    </div>

    <ul class="list ingrediens__list">
      <li class="ingrediens__text">
        <p class="ingrediens_desk">320</p>
        <p>kcal</p>
      </li>
      <li class="ingrediens__text">
        <p class="ingrediens_desk">4g</p>
        <p>Prote..</p>
      </li>
      <li class="ingrediens__text">
        <p class="ingrediens_desk">8,2g</p>
        <p>Fats</p>
      </li>
      <li class="ingrediens__text">
        <p class="ingrediens_desk">40,4g</p>
        <p>Carbs</p>
      </li>
    </ul>
    <h3 class="ingrediens__litle--group">Ingredients</h3>
    <ul class="list ingrediens__list--croup">
      <li class="ingrediens__text--group">
        <p>Milk</p>
        <p>100ml</p>
      </li>
      <li class="ingrediens__text--group">
        <p>Belgian chocolate</p>
        <p>20g</p>
      </li>
      <li class="ingrediens__text--group">
        <p>Cream</p>
        <p>150 ml</p>
      </li>
      <li class="ingrediens__text--group">
        <p>Cocoa powder</p>
        <p>30g</p>
      </li>
      <li class="ingrediens__text--group">
        <p>Sugar</p>
        <p>40g</p>
      </li>
      <li class="ingrediens__text--group">
        <p>Vanilla sugar</p>
        <p>10g</p>
      </li>
    </ul>
    <form class="ingrediens__form">
      <div class="ingrediens__label">
        <input
          class="ingrediens__input"
          type="text"
          name="name-choco"
          id="name-choco"
          pattern="[a-z]{4,8}"
          placeholder="Name"
          required></div>
        <div class="ingrediens__label">
        <input
          class="ingrediens__input"
          type="tel"
          name="tel-choco"
          id="tel-choco"
          pattern="[0-9]{8}"
          placeholder="Phone"
          required>
        </div>
      <div class="ingrediens__label">
        <textarea
          class="ingrediens__textarea"
          name="comment-choco"
          id="comment-choco"
          rows="5"
          placeholder=" Comment"
        ></textarea>
      </div>
    <button type="submit" class="ingrediens__btn">Submit</button>
    </form>
    
  </div>
  <div></div>
</div>

<!--Ice coffe-->

<div class="backdrop is-hidden" data-icecoffe>
  <div class="ingrediens modal-open">
    <button class="modal__close" type="button" data-icecoffe-close>
      <svg width="16" height="16" class="modal__icon--close">
        <use
          href="./images/sprite.svg#icon-close"
        ></use>
      </svg>
    </button>
    <h2 class="title--modal ingrediens__title">Ice coffee</h2>
    <div class="ingrediens__elipse--icecoffe">
      <img
        class="ingrediens__img"
        srcset="./images/products/ice-coffee_sm@1x.png 130w,
             ./images/products/ice-coffee_sm@2x.png 260w"
        sizes="(min-width: 320px) 130px"
        src="./images/products/ice-coffee_sm@1x.png"
        alt="icecream">
    </div>

    <ul class="list ingrediens__list">
      <li class="ingrediens__text--icecoffe">
        <p class="ingrediens_desk--icecoffe">280</p>
        <p>kcal</p>
      </li>
      <li class="ingrediens__text--icecoffe">
        <p class="ingrediens_desk--icecoffe">3g</p>
        <p>Prote..</p>
      </li>
      <li class="ingrediens__text--icecoffe">
        <p class="ingrediens_desk--icecoffe">6,7g</p>
        <p>Fats</p>
      </li>
      <li class="ingrediens__text--icecoffe">
        <p class="ingrediens_desk--icecoffe">37,6g</p>
        <p>Carbs</p>
      </li>
    </ul>
    <h3 class="ingrediens__litle--group">Ingredients</h3>
    <ul class="list ingrediens__list--croup">
      <li class="ingrediens__text--group">
        <p>Milk</p>
        <p>50ml</p>
      </li>
      <li class="ingrediens__text--group">
        <p>Coffee</p>
        <p>50ml</p>
      </li>
      <li class="ingrediens__text--group">
        <p>Cream</p>
        <p>100ml</p>
      </li>
      <li class="ingrediens__text--group">
        <p>Cacao</p>
        <p>30g</p>
      </li>
      <li class="ingrediens__text--group">
        <p>Sugar</p>
        <p>20g</p>
      </li>
      <li class="ingrediens__text--group">
        <p>Vanilla sugar</p>
        <p>10g</p>
      </li>
    </ul>
    <form class="ingrediens__form">
      <div class="ingrediens__label">
        <input
          class="ingrediens__input"
          type="text"
          name="name-coffee"
          id="name-coffee"
          pattern="[a-z]{4,8}"
          placeholder="Name"
          required></div>
        <div class="ingrediens__label">
        <input
          class="ingrediens__input"
          type="tel"
          name="tel-coffee"
          id="tel-coffee"
          pattern="[0-9]{8}"
          placeholder="Phone"
          required>
      </div>
      <div class="ingrediens__label">
        <textarea
          class="ingrediens__textarea"
          name="comment-coffee"
          id="comment-coffee"
          rows="5"
          placeholder=" Comment"
        ></textarea>
      </div>
    <button type="submit" class="ingrediens__btn">Submit</button> 
    </form>
    
  </div>
  <div></div>
</div>

<!--Milk-->

<div class="backdrop is-hidden" data-milk>
  <div class="ingrediens modal-open">
    <button class="modal__close" type="button" data-milk-close>
      <svg width="16" height="16" class="modal__icon--close">
        <use
          href="./images/sprite.svg#icon-close"
        ></use>
      </svg>
    </button>
    <h2 class="title--modal ingrediens__title">Milkshakes</h2>
    <div class="ingrediens__elipse--milk">
      <img
        class="ingrediens__img"
        srcset="./images/products/milkshakes_sm@1x.png 130w,
             ./images/products/milkshakes_sm@2x.png 260w"
        sizes="(min-width: 320px) 130px"
        src="./images/products/milkshakes_sm@1x.png"
        alt="icecream">
    </div>

    <ul class="list ingrediens__list">
      <li class="ingrediens__text--milk">
        <p class="ingrediens_desk--milk">330</p>
        <p>kcal</p>
      </li>
      <li class="ingrediens__text--milk">
        <p class="ingrediens_desk--milk">5g</p>
        <p>Prote..</p>
      </li>
      <li class="ingrediens__text--milk">
        <p class="ingrediens_desk--milk">9,7g</p>
        <p>Fats</p>
      </li>
      <li class="ingrediens__text--milk">
        <p class="ingrediens_desk--milk">48,1g</p>
        <p>Carbs</p>
      </li>
    </ul>
    <h3 class="ingrediens__litle--group">Ingredients</h3>
    <ul class="list ingrediens__list--croup">
      <li class="ingrediens__text--group">
        <p>Milk</p>
        <p>150ml</p>
      </li>
      <li class="ingrediens__text--group">
        <p>Belgian chocolate</p>
        <p>30g</p>
      </li>
      <li class="ingrediens__text--group">
        <p>Whipped cream</p>
        <p>100ml</p>
      </li>
      <li class="ingrediens__text--group">
        <p>Cacao</p>
        <p>50g</p>
      </li>
      <li class="ingrediens__text--group">
        <p>Sugar</p>
        <p>40g</p>
      </li>
      <li class="ingrediens__text--group">
        <p>Vanilla sugar</p>
        <p>20g</p>
      </li>
    </ul>
    <form class="ingrediens__form">
      <div class="ingrediens__label">
        <input
          class="ingrediens__input"
          type="text"
          name="name-milk"
          id="name-milk"
          pattern="[a-z]{4,8}"
          placeholder="Name"
          required></div>
        <div class="ingrediens__label">
        <input
          class="ingrediens__input"
          type="tel"
          name="tel-milk"
          id="tel-milk"
          pattern="[0-9]{8}"
          placeholder="Phone"
          required>
      </div>
      <div class="ingrediens__label">
        <textarea
          class="ingrediens__textarea"
          name="comment-milk"
          id="comment-milk"
          rows="5"
          placeholder=" Comment"
        ></textarea>
      </div>
    <button type="submit" class="ingrediens__btn">Submit</button>
    </form>
    
  </div>
  <div></div>
</div>
