<div class="backdrop-buy is-hidden">
  <div class="benefits">
    <button class="modal__close" type="button">
      <svg width="16" height="16">
        <use class="modal__icon--close" href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <h2 class="title--modal benefits__title">Buy now
    </h2>
    <ul class="list benefits__list">
      <li class="benefits__item">
        <div class="benefits__elipse benefits__elipse--ice-cream">
          <img class="benefits__img" srcset="./images/buy-modal/buy@1x.png 130w,
             ./images/buy-modal/buy@2x.png 260w" src="./images/buy-modal/buy@1x.png" alt="icecream">
          <p></p>
        </div>

        <p>ice cream</p>
      </li>
      <li class="benefits__item">
        <div class="benefits__elipse benefits__elipse--ice-coffee">
          <img class="benefits__img" srcset="./images/buy-modal/buy1x.png 130w,
             ./images/buy-modal/buy1@2x.png 260w" src="./images/buy-modal/buy1x.png" alt="icecream">
        </div>
        <p>ice cream</p>
      </li>
      <li class="benefits__item">
        <div class="benefits__elipse benefits__elipse--milkshakes">
          <img class="benefits__img" srcset="./images/buy-modal/buy2@1x.png 130w,
             ./images/buy-modal/buy2@2x.png 260w" src="./images/buy-modal/buy2@1x.png" alt="icecream">
        </div>
        <p>milkshake</p>
      </li>
    </ul>

    <form class="ingredients__form">
      <label class="ingredients__label">
        <input class="ingredients__input" type="text" name="user-name" placeholder="Name">
        <input class="ingredients__input" type="tel" name="tel" placeholder="Phone">
      </label>
      <label class="ingredients__label ">
        <textarea class="ingredients__textarea" name="modal-textarea" id="" rows="5" placeholder="Comment"></textarea>
      </label>
    </form>
    <button class="ingredients__btn" type="submit">Submit</button>

  </div>
</div>