<div class="backdrop is-hidden" data-ingrediens>
  <div class="ingrediens modal-open">
    <button class="modal__close" type="button" data-ingrediens-close>
      <svg width="16" height="16">
        <use
          class="modal__icon--close"
          href="./images/sprite.svg#icon-close"
        ></use>
      </svg>
    </button>
    <h2 class="title--modal ingrediens__title">Chololate icecream</h2>
    <div class="ingrediens__elipse">
      <img
        class="ingrediens__img"
        srcset="./images/ingridiens/sm-@1x.png 130w
             ./images/ingridiens/sm-@2x.png 260w"
        src="./images/ingridiens/sm-@1x.png"
        alt="icecream"
      />
    </div>

    <ul class="list ingrediens__list">
      <li class="ingrediens__text">
        <p class="ingrediens_desk">320</p>
        <p>kcal</p>
      </li>
      <li class="ingrediens__text">
        <p class="ingrediens_desk">4g</p>
        <p>Prote..</p>
      </li>
      <li class="ingrediens__text">
        <p class="ingrediens_desk">8,2g</p>
        <p>Fats</p>
      </li>
      <li class="ingrediens__text">
        <p class="ingrediens_desk">40,4g</p>
        <p>Carbs</p>
      </li>
    </ul>
    <h3 class="ingrediens__litle--group">Ingredients</h3>
    <ul class="list ingrediens__list--croup">
      <li class="ingrediens__text--group">
        <p>Milk</p>
        <p>100ml</p>
      </li>
      <li class="ingrediens__text--group">
        <p>Belgian chocolate</p>
        <p>20g</p>
      </li>
      <li class="ingrediens__text--group">
        <p>Cream</p>
        <p>150 ml</p>
      </li>
      <li class="ingrediens__text--group">
        <p>Cocoa powder</p>
        <p>30g</p>
      </li>
      <li class="ingrediens__text--group">
        <p>Sugar</p>
        <p>40g</p>
      </li>
      <li class="ingrediens__text--group">
        <p>Vanilla sugar</p>
        <p>10g</p>
      </li>
    </ul>
    <form class="ingrediens__form">
      <label class="ingrediens__label">
        <input
          class="ingrediens__input"
          type="text"
          name="user-name"
          placeholder="Name"
        />
        <input
          class="ingrediens__input"
          type="tel"
          name="tel"
          placeholder="Phone"
        />
      </label>
      <label class="ingrediens__label">
        <textarea
          class="ingrediens__textarea"
          name="modal-textarea"
          id=""
          rows="5"
          placeholder=" Comment"
        ></textarea>
      </label>
    </form>
    <button class="ingrediens__btn" type="submit">Submit</button>
  </div>
  <div></div>
</div>
