<div class="location__backdrop is-hidden" data-locations>
  <div class="locations modal-open">
    <button class="modal__close" type="button" data-locations-close>
      <svg width="16" height="16" class="modal__icon--close">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <h2 class="title--modal locations__title">Our Locations</h2>
    <ul class="list location-wrapper__iframe">
      <li class="location__list">
        <p class="location__desk">Chicago</p>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2978.7929333473676!2d-87.7819292!3d41.7034056!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e39ad302b2c19%3A0xc808e9b14d04eb2b!2s10340%20Ridgeland%20Ave%2C%20Chicago%20Ridge%2C%20IL%2060415%2C%20%D0%A1%D0%A8%D0%90!5e0!3m2!1sru!2sua!4v1666196895113!5m2!1sru!2sua"
          width="224"
          height="199"
          class="location__iframe"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        >
        </iframe>
      </li>
      <li class="location__list">
        <p class="location__desk">Los Angeles</p>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3312.2379044544246!2d-118.41251728506506!3d33.88352628065213!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2b3eca6743829%3A0x98448969b9b4373d!2s1003%20Manhattan%20Ave%2C%20Manhattan%20Beach%2C%20CA%2090266%2C%20%D0%A1%D0%A8%D0%90!5e0!3m2!1sru!2sua!4v1666197754883!5m2!1sru!2sua"
          width="244"
          height="199"
          class="location__iframe"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        >
        </iframe>
      </li>
      <li class="location__list">
        <p class="location__desk">New York</p>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3026.057873270107!2d-73.9569226848482!3d40.67269377933612!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25b9e1735b38f%3A0xb5fe454b88e9c2c0!2zNzI2IFN0ZXJsaW5nIFBsLCBCcm9va2x5biwgTlkgMTEyMTYsINCh0KjQkA!5e0!3m2!1sru!2sua!4v1666197967198!5m2!1sru!2sua"
          width="244"
          height="199"
          class="location__iframe"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        >
        </iframe>
      </li>
    </ul>
    <a
      target="blank"
      class="link locations__button"
      href="https://goo.gl/maps/TPzxvUijnBsjkM1p7"
      >Open map</a
    >
  </div>
</div>
