<section id="products" class="products section">
  <div class="products-container container">
    <span class="products__title">100% natural</span>
    <h2 class="products__main-title">products</h2>

    <ul class="products__list list">
      <li class="products__list-item products__list-item--ice-cream">
        <div class="products__img-bcgr products__img-bcgr--ice-cream"></div>
        <h3 class="products__item-title">ice cream</h3>
        <p class="products__item-info">
          Soft ice cream with a delicate taste. Made with milk, cream, sugar and
          natural stabilizer
        </p>
        <button class="products__item-btn" type="button" data-ingrediens-open>
          <svg class="icon-arrow" width="40" height="40">
            <use href="./images/sprite.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>

      <li class="products__list-item products__list-item--ice-coffee">
        <div class="products__img-bcgr products__img-bcgr--ice-coffee"></div>
        <h3 class="products__item-title">ice coffee</h3>
        <p class="products__item-info">
          Fragrant invigorating drink created from 100% natural ingredients
          without the use of preservatives and flavor enhancers
        </p>
        <button class="products__item-btn" type="button" data-icecoffe-open>
          <svg class="icon-arrow" width="40" height="40">
            <use href="./images/sprite.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>

      <li class="products__list-item products__list-item--milkshakes">
        <div class="products__img-bcgr products__img-bcgr--milkshakes"></div>
        <h3 class="products__item-title">milkshakes</h3>
        <p class="products__item-info">
          Sweet drinks based on milk and ice cream, supplemented with syrups,
          fruits, berries and other sweets of your choice
        </p>
        <button class="products__item-btn" type="button" data-milk-open>
          <svg class="icon-arrow" width="40" height="40">
            <use href="./images/sprite.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
