<section class="reviews">
  <div class="container">
    <h2 class="reviews__title visually-hidden">reviews</h2>
    <div class="reviews-slider">
      <div class="reviews-slider__item">
        <img
          class="reviews-slider__image"
          srcset="
            ./images/reviews/review-1.png     85w,
            ./images/reviews/review-1@2x.png 170w
          "
          src="./images/reviews/review-1.png"
          alt="Emily, Los Angeles, personal photo"
          sizes="(min-width:320px) 85px, 100vw"
        />
        <div class="reviews-slider__thumb">
          <p class="reviews-slider__text" lang="en">
            I love visiting your cafe. You prepare the most delicious ice cream
            in Los Angeles! In addition, you have beautiful serving, cozy
            atmosphere and polite staff.
          </p>
        </div>
        <p class="reviews-slider__name" lang="en">Emily, Los Angeles</p>
      </div>
      <div class="reviews-slider__item">
        <img
          class="reviews-slider__image"
          srcset="
            ./images/reviews/review-2.png     85w,
            ./images/reviews/review-2@2x.png 170w
          "
          src="./images/reviews/review-2.png"
          alt="Sam, Los Angeles, personal photo"
          sizes="(min-width:320px) 85px, 100vw"
        />
        <div class="reviews-slider__thumb">
          <p class="reviews-slider__text" lang="en">
            I love visiting your cafe. You prepare the most delicious ice cream
            in Los Angeles! In addition, you have beautiful serving, cozy
            atmosphere and polite staff.
          </p>
        </div>
        <p class="reviews-slider__name" lang="en">Sam, Los Angeles</p>
      </div>
      <div class="reviews-slider__item">
        <img
          class="reviews-slider__image"
          srcset="
            ./images/reviews/review-3.png     85w,
            ./images/reviews/review-3@2x.png 170w
          "
          src="./images/reviews/review-3.png"
          alt="Diana, Chicago, personal photo"
          sizes="(min-width:320px) 85px, 100vw"
        />
        <div class="reviews-slider__thumb">
          <p class="reviews-slider__text" lang="en">
            Ice cream is my passion! I love your chocolate hazelnut ice cream!
            And I really like the excellent service - always served politely and
            quickly!
          </p>
        </div>
        <p class="reviews-slider__name" lang="en">Diana, Chicago</p>
      </div>
      <div class="reviews-slider__item">
        <img
          class="reviews-slider__image"
          srcset="
            ./images/reviews/review-4.png     85w,
            ./images/reviews/review-4@2x.png 170w
          "
          src="./images/reviews/review-4.png"
          alt="Bryan, New-York, personal photo"
          sizes="(min-width:320px) 85px, 100vw"
        />
        <div class="reviews-slider__thumb">
          <p class="reviews-slider__text" lang="en">
            Every day we come to you with friends after classes in college. We
            love your ice cream and casual atmosphere!
          </p>
        </div>
        <p class="reviews-slider__name" lang="en">Bryan, New-York</p>
      </div>
    </div>
  </div>
</section>
