.countdown {
    background-color: var(--main-color);
    width: 100%;
    padding: 0 0 60px;

    &__counter--wrapper {
        display: flex;
        justify-content: space-around;
    }

    &__headline {
        font-family: var(--secondary-font);
        font-size: 26px;
    }

    &__subheadline {
        text-align: center;
        font-family: var(--main-font);
        font-size: 30px;
        font-weight: 800;
        line-height: calc(22/18);
        text-transform: uppercase;
        color: var(--accent-color);
        margin-bottom: 12px;

        &--counter {
            text-align: center;
            font-family: var(--main-font);
            font-size: 12px;
            font-weight: 700;
            line-height: calc(22/18);
            text-transform: uppercase;
            color: var(--accent-color);
        }
    }

    &__title {
        text-align: center;
        font-family: var(--secondary-font);
        display: inline-block;
        color: var(--primary-text-color);
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        text-transform: uppercase;
        margin-bottom: 30px;

        &--accent {
            font-size: 30px;
            color: var(--accent-color);
        }
    }

    &__subtitle {
        text-align: center;
        font-family: var(--secondary-font);
        display: inline-block;
        color: var(--primary-text-color);
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        text-transform: uppercase;
        margin-top: 30px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}