.galery-reviews {
  background-image: url('../images/backgrounds/review-mobile.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #F5F5F5;
}
