body.modal-open {
  overflow: hidden;
}

.read-more__modal {
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  border: 2px solid var(--accent-color);

  background-color: var(--modal-bg);
  width: 100%;
  max-width: 280px;
  padding: 28px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
      opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  //   @media screen and (min-width: 1200px) {
  //     max-height: 581px;
  //     max-width: 528px;
  //   }
}

.read-more__close-button {
  display: flex;
  align-items: center;
  padding: 0;
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: transparent;
  border: transparent;
  border-radius: 0;
}

.read-more__close-button-svg {
  width: 16px;
  height: 16px;
}

.read-more__title {
  // font-family: var(--secondary-font);
  text-align: center;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);
}

.wrapper__iframe {
  margin: 0 auto;
  margin-bottom: 20px;
}

.iframe {
  display: block;
  width: 220px;
  height: auto;
}

.read-more__text {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(20 / 14);
}
