
.is-blocked {overflow: hidden;}



.backdrop-buy {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    padding: 93px 15px;
    background-color: rgba(0, 0, 0, 0.2);
    overflow-y: scroll;
    opacity: 1;
    visibility: visible;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &.is-hidden {
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.benefits {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 280px;
    padding: 28px;
    background: var(--modal-bg);
    border-radius: 10px;
    border: 2px solid var(--accent-color);
}

.benefits__title {
    margin-bottom: 84px;
}

.benefits__list {
    margin-bottom: 24px;
}


.benefits__item{
    position: relative;
    display: block;
    height: 136px;
    width: 132px;
   
    &:not(:last-child){
         margin-bottom: 84px;
    }
  
    &--green{
        border: 2px solid var(--ice-cream-bg-color);
        border-radius: 15px;
    }

     &--yellow{
        border: 2px solid var(--ice-coffe-bg-color);
        border-radius: 15px;
        background-color: var(--ice-coffe-bg-color);
    }

     &--pink{
        border: 2px solid var(--milkshakes-bg-color);
        border-radius: 15px;
    }
}


.benefits__text{
    position: absolute;
    width: 130px;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    font-size: 16px;
    font-weight: 700;
    line-height: calc(20/16);
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--primary-text-color);

}

/*.benefits__item {
    display: flex;
    flex-direction: column;
    width: 132px;
    height: 200px;
    text-align: center;

    &--ice-cream {
        border: 2px solid #96AF8C;
    }

    &--ice-coffee {
        background: linear-gradient(0deg,
                rgba(248, 210, 78, 0.7),
                rgba(248, 210, 78, 0.7)),
            #d9d9d9;
        box-shadow: 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.25);
    }

    &--milkshakes {
        background: linear-gradient(0deg,
                rgba(213, 117, 63, 0.7),
                rgba(213, 117, 63, 0.7)),
            #d9d9d9;
        box-shadow: 0px 5.41333px 20.3px rgba(0, 0, 0, 0.25);
    }
}

.benefits__elipse {
    width: 132px;
    height: 130px;
    border-radius: 50%;
    background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #D9D9D9;
    box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);

}
*/


.benefits__elipse {
    position: absolute;
    top: -60px;
    width: 132px;
    height: 132px;
    border-radius: 50%;
    margin-bottom: 20px;
    

    &--ice-cream {
        background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #D9D9D9;
        box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
    }

    &--ice-coffee {
        background: linear-gradient(0deg,
                rgba(248, 210, 78, 0.7),
                rgba(248, 210, 78, 0.7)),
            #d9d9d9;
        box-shadow: 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.25);
    }

    &--milkshakes {
        background: linear-gradient(0deg,
                rgba(213, 117, 63, 0.7),
                rgba(213, 117, 63, 0.7)),
            #d9d9d9;
        box-shadow: 0px 5.41333px 20.3px rgba(0, 0, 0, 0.25);
    }
}























.benefits__img {
    width: 131px;
    height: 131px;
    top: -8px;
    left: 0;
    position: absolute;
}

.benefits__img {
    bottom: 8px;
    width: 131px;
    height: 131px;
}

.ingredients__label {
    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.ingredients__input {
    width: 100%;
    height: 42px;
    outline: transparent;
    background: rgba(248, 210, 78, 0.1);
    border: 1px solid var(--main-color);
    border-radius: 10px;
    margin-bottom: 16px;
    padding-left: 12px;


    @media screen and (min-width: 768px) {
        width: 368px;
    }


}

.ingredients__input::placeholder {
    font-size: 14px;
    line-height: calc(20/14);
    color: var(--primary-text-color);
}

.ingredients__textarea {
    width: 100%;
    height: 84px;
    resize: none;
    outline: transparent;
    background: rgba(248, 210, 78, 0.1);
    border: 1px solid var(--main-color);
    border-radius: 10px;
    transition: border var(--animation);
    padding-left: 12px;
    padding-top: 8px;

    @media screen and (min-width: 768px) {
        width: 368px;
    }

}


.ingredients__textarea::placeholder {
    font-size: 14px;
    line-height: calc(20/14);
    color: var(--primary-text-color);
}

.ingredients__form {
    margin-bottom: 24px;

    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.ingredients__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: inherit;

    font-weight: 600;
    font-size: 14px;
    line-height: calc(17/14);

    width: 114px;
    min-height: 42px;

    cursor: pointer;
    border: none;
    color: var(--primary-text-color);
    background-color: var(--accent-color);
    border-radius: 10px;
}