
.benefits{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 280px;
    height: 100vh;
    padding: 0 20px;
    background: var(--modal-bg);
    border-radius: 10px;
    border: 2px solid var(--accent-color);
}

.benefits__item {
    display: flex;
    flex-direction: column;
       width: 132px;
     height: 200px;
    text-align: center;

    

    &--ice-cream {
            border: 2px solid #96AF8C;
            
        }
    
        &--ice-coffee {
            background: linear-gradient(0deg,
                    rgba(248, 210, 78, 0.7),
                    rgba(248, 210, 78, 0.7)),
                #d9d9d9;
            box-shadow: 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.25);
        }
    
        &--milkshakes {
            background: linear-gradient(0deg,
                    rgba(213, 117, 63, 0.7),
                    rgba(213, 117, 63, 0.7)),
                #d9d9d9;
            box-shadow: 0px 5.41333px 20.3px rgba(0, 0, 0, 0.25);
        }
}
.benefits__elipse {
    width: 132px;
    height: 130px;
    border-radius: 50%;
    background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #D9D9D9;
    box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
  
}

.benefits__img {
    width: 131px;
    height: 131px;
    position: relative;
    bottom: 8px;
}

.ingrediens__label {
    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.ingrediens__input {
    width: 100%;
    height: 42px;
    outline: transparent;
    background: rgba(248, 210, 78, 0.1);
    border: 1px solid var(--main-color);
    border-radius: 10px;
    margin-bottom: 16px;
    padding: 0 10px;


    @media screen and (min-width: 768px) {
        width: 368px;
    }


}

.ingrediens__input::placeholder {
    font-size: 14px;
    line-height: calc(20/14);
    color: var(--primary-text-color);
}

.ingrediens__textarea {
    width: 100%;
    height: 84px;
    resize: none;
    outline: transparent;
    background: rgba(248, 210, 78, 0.1);
    border: 1px solid var(--main-color);
    border-radius: 10px;
    transition: border var(--animation);
    padding: 0 10px;
    padding-top: 11px;

    @media screen and (min-width: 768px) {
        width: 368px;
    }

}


.ingrediens__textarea::placeholder {
    font-size: 14px;
    line-height: calc(20/14);
    color: var(--primary-text-color);
}

.ingrediens__form {
    margin-bottom: 32px;

    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.ingrediens__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: inherit;

    font-weight: 600;
    font-size: 14px;
    line-height: calc(17/14);

    width: 132px;
    min-height: 42px;
    padding: 12px 34px;

    cursor: pointer;
    border: none;
    color: var(--primary-text-color);
    background-color: var(--accent-color);
    border-radius: 10px;
}