.advantages__list {
    padding-top: 42px;
    padding-bottom: 60px;
}

.advantages__amount {
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 0.9;
    
        text-align: center;
        letter-spacing: 0.04em;
        text-transform: uppercase;
    
        color:var(--txt-color-light);
        margin-bottom: 18px;
}
.advantages__text {
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 170%;
    
        text-align: center;
    
    color: var(--txt-color-light);
}
.advantages__img {
    width: 50px;
    display: block;
    margin: 0 auto;

    margin-bottom: 16px;
}
.advantages__item {
    margin-bottom: 28px;

    &:last-child {
        margin-bottom: 0;
    }
}