.container{
    padding:0 20px;
    @media screen and(min-width:768px){
        padding:0 32px;}
            @media screen and(min-width:1200px){
                padding:0 16px;}
    }
    .contacts{
    padding-bottom: 39px;
        @media screen and(min-width:768px){
    padding-bottom: 40px;}
        @media screen and(min-width:1200px){
    padding-bottom: 120px;}
    }
    .locations-our{
    display: block;
    justify-content: center;
    margin-bottom: 32px;
       @media screen and(max-width:767px){
    flex-direction: column;
    margin-top: -350px;}
       @media screen and(min-width:768px){
    display: flex;
    flex-wrap: nowrap;
    gap: 16px;
    margin-top: -310px;}
        @media screen and(min-width:1200px){
    gap: 32px;
    margin-top: -90px;}
    }
    .location__item{
    background: var(--modal-bg);
    box-shadow: 0 8px 30px rgb(212 20 67 / 10%);
    border-radius: 24px;
    padding: 40px 32px;
    flex: 1;
    &:not(:last-child) {
            margin-bottom: 20px;
          }
    @media screen and(min-width:768px){
    padding: 40px 24px;
    padding-bottom: 35px;
    margin-bottom: 0;
    &:not(:last-child) {
        margin-bottom: 0;}
    }
    @media screen and(min-width:1200px){
    padding: 40px;
    padding-bottom: 35px;
    }
    }
    .location__place{
    padding: 0 20;
    border-radius: 4px;
    background-color:var(--accent-color);
    color: var(--primary-text-color);
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height:calc(22/12);
    letter-spacing: 0.04em;
        @media screen and(min-width:480px){
    font-size: 16px;
    line-height: calc(30/16); }
    }
    .location-top{
    padding: 20 0 24;
    border-bottom: 1px solid var(--border-main-color);
    margin: 0;
    @media screen and(min-width:768px){
        padding: 32 0 32;
    }
    }
    .location-city{
    color: var(--primary-text-color);
    margin-bottom: 8px;
    }
    .location-address{
    display: block;
    color: var(--rose-color);
    transition: text-decoration var(--trans-effect);
    &:hover,
    &:focus{
        text-decoration: underline;}
    }
    .address--Los-Angeles{
    width: 212px;
        @media screen and(min-width:768px){
           width: 158px; }
        @media screen and(min-width:1200px){
           width: 288px; }
    }
    .address--Chicago{
    width: 190px;
       @media screen and(min-width:768px){
        width: 173px; }
        @media screen and(min-width:1200px){
        width: 262px; }
    }
    .address--New-York{
    width: 185px;
       @media screen and(min-width:768px){
           width: 159px; }
        @media screen and(min-width:1200px){
           width: 261px; }
    }
    .location-schedule{
    padding: 24 0;
    border-bottom: 1px solid var(--border-main-color);
    @media screen and(min-width:768px){
        padding: 32 0;
    }
    }
    .local__text{
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height:calc(22/12);
    letter-spacing: 0.04em;
    
    @media screen and(min-width:768px){
    font-size: 14px;
    line-height: calc(26/14);}
    @media screen and(min-width:1200px){
    font-size: 16px;
    line-height: calc(29/16);}
    }
    .text--black{
    color: var(--primary-text-color);
    
    &.tel{
        padding-top: 10px;}
    &.com{
        padding-bottom: 10px;}
    }
    .text--grey{
        
    color: var(--txt-color-light-alt);
    }
    .location-contacts{
    display: flex;
    padding-top: 19px;
    flex-direction: column;
    color:var(--primary-text-color) ;
    font-weight: 500;
    font-size: 12px;
    line-height: calc(18/12);
    
        @media screen and(min-width:768px){
     display: block;
    padding-top: 27px;
    font-size: 14px;
    line-height: calc(26/14);}
        @media screen and(min-width:1200px){
    font-size: 16px;
    line-height: calc(29/16);}
    }
    .link-accent{
    transition: var(--trans-effect);
       &:hover,
       &:focus{
        color: var(--rose-color);}
    }
    .contacts__opening-hours_item{
        margin-bottom: 8px;
        @media screen and(min-width:768px){
            margin-bottom: 12px;}
    
    }
    
    .local-button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
        @media screen and(min-width:768px){
            flex-direction: row;}
    }
    .button--accent{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 196px;
    height: 42px;
    background-color:var(--accent-color);
    color: var(--primary-text-color);
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: calc(18/14);
    padding: 12 34;
    border-style: none;
    transition: background-color var(--trans-effect), color var(--trans-effect);
    &:hover{
        background-color: rgba(10, 136, 23, 1);}
    &:focus{
        border-style: none;
        background-color: rgba(10, 136, 23, 1);
        color:var(--primary-white-color) ;}
    &:disabled{
        background-color:var(--time-text-color);}
    }
    .button--transparent{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 196px;
    height: 42px;
    border: 1px solid var(--accent-color) ;
    color: var(--primary-text-color);
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: calc(18/14);
    padding: 12 34;
    background-color: transparent;
    transition: border var(--trans-effect),color var(--trans-effect);
    &:hover{
        border: 1px solid rgba(10, 136, 23, 1);}
    &:focus{
        border: 1px solid rgba(10, 136, 23, 1);
        color:var(--primary-white-color) ;}
    &:disabled{
        border: 1px solid var(--time-text-color);}
    }
    .button-icon{
    width: 12px;
    height: 12px;
    margin-left: 6px;
    fill: transparent;
    stroke: currentColor;
    }
        
.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
  }