.gallery {
  padding-bottom: 80px;

  @media screen and (min-width: 768px) {
      padding-bottom: 60px;
    }
    
    @media screen and (min-width: 1200px){
      padding-bottom: 128px;
    }

  &__container{  
  position: relative;
  height: 107px;
    @media screen and (min-width: 768px) {
      height: 163px;
    }
    @media screen and (min-width: 1200px){
      height: 330px;
    }
  }

  &__slider{
    width: calc(100% - 30px);
    position: absolute;
    left: 15px;
    top: -24px;
     @media screen and (min-width: 768px) {
      top: -164px;
     }
      @media screen and (min-width: 1200px) {
      top: -92px;
     }
  }
 
  }


.gallery__img > img{
  margin: 0 auto;
  border-radius: 7px;
}
