.header-container {
display: flex;
padding: 12px 20px 61px 20px;
}

.btn-mobile-menu {
padding: 0px;
    cursor: pointer;
    border: none;
    background-color: inherit;
   // fill: var(--txt-color-light);
    stroke: var(--txt-color-light);

    margin-left: auto;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-mobile-menu:hover,
.btn-mobile-menu:focus {
    stroke: var(--accent-color);
   // fill: var(--accent-color);
}
