.header-container {
display: flex;
padding: 12px 20px 61px 20px;

.btn-mobile-menu {
background-color: inherit;
fill: var(--txt-color-light);
padding: 0px;
border: none;
cursor: pointer;
margin-left: auto;
}
}