.hero {
background-image: url(../images/hero/points-bg/sm/points-bg_sm@1x.png);
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
background-image: url(../images/hero/points-bg/sm/points-bg_sm@2x.png)
}
background-repeat: repeat-x;
background-position: 0% 100%;

.hero-container {
width: 267px;
height: auto;
padding-left: 20px;

.title {
font-family: var(--secondary-font);
font-size: 26px;
line-height: calc(33/26);
// letter-spacing: 0.04em;
text-transform: uppercase;

color: var(--txt-color-light);

margin-bottom: 32px;
}

.text-element {
width: 247px;
font-family: var(--secondary-font);
font-size: 34px;
line-height: calc(34 / 32);

color: var(--txt-color-light);

text-transform: uppercase;
}

.group-container {
display: flex;
padding-bottom: 20px;
gap: 28px;

.hero-btn {
width: 62px;
height: 24px;

font-weight: 600;
font-size: 8px;
line-height: calc(10/8);
display: flex;
align-items: center;
text-align: center;
justify-content: center;
color: var(--primary-text-color);

background-color: inherit;

border: 2px solid #F8D24E;
border-radius: 8px;
cursor: pointer;
 }
}
.hero-link {
font-weight: 600;
font-size: 8px;
line-height: calc(10/8);
display: flex;
align-items: center;
text-align: center;
text-decoration-line: underline;

color: var(--accent-color);
}
}
}

.ice-cream-container {
width: 170px;
height: 219px;
margin-right: auto;
margin-left: auto;

.ice-cream__item {


.ice-cream-img {
position: absolute;
top: 300px;
left: 86px;
}

.smile-left {
position: absolute;
top: 350px;
left: 110px
}

.smile-top {
position: absolute;
top: 305px;
left: 155px;
}

.smile-right {
position: absolute;
top: 380px;
left: 165px;   
}

.shadow {
position: absolute;
top: 230px;
left: 25px;
z-index: -2;
}
}
}