.hero {
    /*ADDED*/
    position: relative;
}




.hero-container {

    height: auto;

    padding: 0px 20px 239px;

    @media screen and (min-width: 768px) {
        //padding: 0px 20px 0px 41px;

        /*ADDED*/
        padding: 104px 32px 14px;
    }
}

.hero-title {
    width: 247px;
    font-family: var(--secondary-font);
    font-weight: 400;
    font-size: 26px;
    line-height: calc(33/26);

    text-transform: uppercase;

    color: var(--txt-color-light);

    margin-bottom: 32px;

    letter-spacing: 4%;

    @media screen and (min-width: 768px) {
        width: 180px;
        font-size: 18px;
        line-height: calc(23 / 18);
        margin-bottom: 20px;
    }
}

.accent-title {
    font-family: var(--secondary-font);

    font-size: 33px;
    line-height: calc(34 / 33);

    text-transform: uppercase;
    color: var(--txt-color-light);

    @media screen and (min-width: 768px) {
        font-size: 24px;
        line-height: 13px;
    }
}

.group-container {
    display: flex;
    margin-bottom: 20px;
    gap: 28px;

    @media screen and (min-width: 768px) {
        margin-bottom: 28px;
    }
}

.hero-group {
    display: none;

    @media screen and (min-width: 768px) {
        position: relative;
        display: flex;
        align-items: center;
        gap: 33px;
    }
}

.hero-btn {
    width: 62px;
    height: 24px;

    font-weight: 600;
    font-size: 8px;
    line-height: calc(10/8);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: var(--primary-text-color);

    background-color: inherit;

    border: 2px solid #F8D24E;
    border-radius: 8px;
    cursor: pointer;

    &:hover,
    &:focus {
        border-color: #0A8817;
        transition-property: border-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
}


.hero-link {
    font-weight: 600;
    font-size: 8px;
    line-height: calc(10/8);
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration-line: underline;

    color: var(--accent-color);

    &:hover,
    &:focus {
        color: #0A8817;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.hero-desc-box {
    width: 151px;

    @media screen and (max-width: 767px) {
        display: none;

    }
}

.hero-img-plate {
    // position: absolute;
    // top: 0px;
}



.hero-text {

    @media screen and (min-width: 768px) {
        display: inline-block;
        font-size: 12px;
        line-height: 140%;

        margin-bottom: 20px;

        color: var(--txt-color-light);
    }
}

.hero-icon {
    fill: var(--txt-color-light);
}

.ice-cream-container {
    width: 170px;
    height: 219px;
    margin-right: auto;
    margin-left: auto;
}

/*.hero-img {
    position: absolute;
    top: 257px;
    left: 11%;

    @media screen and (min-width: 768px) {
        top: 40px;
        left: 370px;
    }
}*/

.hero-img {
    /*ADDED*/
    pointer-events: none;
    z-index: 1;
    position: absolute;
    bottom: -12.75%;
    left: 50%;
    transform: translate(-45%);

    @media screen and (min-width: 768px) {
        left: 70%;
        bottom: -13.5%;
    }
}

/*.hero-img-points {
    position: absolute;
    top: 479px;
    left: 0%;
    z-index: -2;

    @media screen and (min-width: 768px) {
        top: 370px;
        left: 0%;
    }
}*/
.hero-img-points {
    /*ADDED*/
    z-index: -2;
    pointer-events: none;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}

/*ADDED numbers*/

.increasing-number {}

.hero {
    &__chain-list {
        position: absolute;
        bottom: 110%;
        right: 1.5%;
        display: flex;
        flex-direction: column;
        gap: 20px;

        @media screen and (max-width: 767px) {
            display: none;
        }

        @media screen and (min-width: 1200px) {
            gap: 16px;
            top: 126px;
            right: 16px;
        }
    }

    &__chain-item {
        display: flex;
        flex-direction: column;
        gap: 4px;
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 8px;
        line-height: calc(10 / 8);
        text-align: right;

        color: #fcfcfc;

        @media screen and (min-width: 1200px) {
            font-size: 14px;
            line-height: calc(17 / 14);
        }
    }

    &__chain-counter {
        font-weight: 900;
        font-size: 28px;
        line-height: calc(34 / 28);
        letter-spacing: 0.04em;
        text-transform: uppercase;

        color: #131313;

        @media screen and (min-width: 1200px) {
            font-size: 46px;
            line-height: calc(56 / 46);
        }
    }
}