.reviews {
  padding-bottom: 383px;
  @media screen and (min-width: 768px) {
    padding-bottom: 374px;
  }
  @media screen and (min-width: 1200px) {
    padding-bottom: 186px;
  }
}

.reviews-slider .slick-slider {
  margin: 0 -15px;
}

.reviews-slider .slick-slide {
  text-align: center;
  margin-right: 15px;
  margin-left: 15px;
}

/* Ограничивающая оболочка */
.reviews-slider .slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.reviews-slider .slick-track {
  display: flex;
  margin-bottom: 14px;
}

.reviews-slider {
  position: relative;
}

.reviews-slider .slick-arrow {
  position: absolute;
  top: 50%;
  width: 90px;
  height: 100%;
  z-index: 10;
  font-size: 0;
  opacity: 0;
  transition: opacity var(--trans-effect);
}

.reviews-slider:hover .slick-arrow,
.reviews-slider:focus .slick-arrow {
  opacity: 0.5;
}

.reviews-slider .slick-arrow.slick-prev {
  left: 0;
  background: url('../images/reviews/chevron-left.svg') left center / 60%
    no-repeat;
  @media screen and (min-width: 480px) {
    background-position-y: calc(50% + 20px);
  }
  @media screen and (min-width: 768px) {
    background-size: 100%;
    background-position-y: calc(50% + 15px);
  }
  border: none;
  &:before {
    opacity: 0;
  }
}

.reviews-slider .slick-arrow.slick-next {
  right: 0;
  background: url('../images/reviews/chevron-right.svg') right center / 60%
    no-repeat;
  @media screen and (min-width: 480px) {
    background-position-y: calc(50% + 20px);
  }
  @media screen and (min-width: 768px) {
    background-size: 100%;
    background-position-y: calc(50% + 15px);
  }
  border: none;
  &:before {
    opacity: 0;
  }
}

/* Точки (булиты) */

.reviews-slider .slick-dots {
  padding: 0;
  margin-top: 0px;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.reviews-slider .slick-dots li {
  // list-style: none;
  margin: 0 5px;
}

/* Элемент точки */

.reviews-slider .slick-dots li button {
  width: 10px;
  height: 10px;
  padding: 0;
  font-size: 0;
  border-radius: 50%;
  border: none;
  background-color: #d9d9d9;

  &:before {
    opacity: 0;
  }
}

/* Активная точка */

.reviews-slider .slick-dots li.slick-active button {
  background-color: var(--main-color);

  &:before {
    opacity: 0;
  }
}

.reviews-slider__item {
  text-align: center;
}

.reviews-slider__image {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;

  @media screen and (min-width: 768px) {
    margin-bottom: 28px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 32px;
  }
}

.reviews-slider__thumb {
  padding: 34px 39px;
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    padding: 29px 80px;
    margin-bottom: 32px;
  }
  @media screen and (min-width: 768px) {
    padding: 39px 109px;
  }

  background-color: var(--main-color);
  border-radius: 10px;
}

.reviews-slider__text {
  display: block;
  font-size: 12px;
  line-height: 2.55;
  color: var(--txt-color-light);
  @media screen and (min-width: 768px) {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: 0.04em;
  }
  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
}

.reviews-slider__name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.86;
}
